$eventColor: var(--eventColor);

.countdown__navigation {
  margin: 2.5rem 0;
}

.countdown {
  // .countdown__list
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 0;
    position: relative;

    @media screen and (max-width: 767.98px) {
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
    }
  }

  // .countdown__link
  &__link {
    &-btn {
      border: 3px solid $eventColor;
      border-width: 3px 0;
      padding: 0.5rem;
      transition: all 0.5s ease;
      cursor: pointer;
      height: 4rem;
      position: absolute;
      top: 1rem;
      z-index: 8;
      display: flex;
      background-color: rgba($color: #000, $alpha: 0.2);

      @media screen and (max-width: 767.98px) {
        height: 3.5rem;
        padding: 0.3rem;
        top: 0.7rem;
      }

      a {
        color: $eventColor;
        font-size: 1.5rem;
        line-height: 2.5rem;
        white-space: nowrap;
        transition: all 0.5s ease;
        display: flex;
        align-items: center;

        @media screen and (max-width: 767.98px) {
          font-size: 1.3rem;
        }

        @media screen and (max-width: 479.98px) {
          font-size: 1.7rem;
        }

        .edit-icon,
        .add-icon {
          font-size: 1.8rem;
          margin-right: 0.5rem;
          display: flex;
          @media screen and (max-width: 479.98px) {
            font-size: 1.4rem;
            margin-right: 0.2rem;
          }
        }
      }
      &:hover {
        border-color: #fff;
        padding: 0.5rem 1.5rem;
        a {
          color: #fff;
        }

        @media screen and (max-width: 767.98px) {
          padding: 0.3rem 0.7rem;
        }
      }
    }

    &--add {
      right: 1rem;
      @media screen and (max-width: 767.98px) {
        right: 0.7rem;
      }
    }

    &--edit {
      left: 1rem;
      @media screen and (max-width: 767.98px) {
        left: 0.7rem;
      }
    }

    a {
      color: #fff;
      font-size: 1.5rem;
      line-height: 2;
      transition: all 0.5s ease 0s;
      border: 3px solid transparent;
      border-width: 0px 3px;
      white-space: nowrap;
    }

    &.active a,
    &:hover a {
      color: $eventColor;
      border-color: $eventColor;
      padding: 1.75rem;
      background-color: rgba($color: #000, $alpha: 0.2);

      @media screen and (max-width: 1200px) {
        padding: 1.2rem;
      }
    }

    &.active a {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.6rem;
    }
  }
}

// Slider
.countdown__list {
  min-width: 0;
  position: relative;

  // Slider
  .slick-slider {
    width: 90vw;
    @media screen and (max-width: 767.98px) {
      width: 80vw;
    }
  }

  // Limited wrapper
  .slick-list {
    overflow: hidden;
  }
  // Slides track
  .slick-track {
    display: flex;
    align-items: flex-start;
  }

  // Arrow
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    font-size: 0;
    width: 26px;
    height: 18px;
    background-color: $eventColor;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #fff;
    }
  }
  // Left arrow
  .slick-arrow.slick-prev {
    left: -2%;
    -webkit-mask-image: url("../../../public/images/arrowLeft.svg");
    mask-image: url("../../../public/images/arrowLeft.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    @media (max-width: 1200px) {
      left: -4%;
    }
    @media (max-width: 767.98px) {
      left: -8%;
    }
  }
  // Right arrow
  .slick-arrow.slick-next {
    right: -2%;
    -webkit-mask-image: url("../../../public/images/arrowRight.svg");
    mask-image: url("../../../public/images/arrowRight.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    @media (max-width: 1200px) {
      right: -4%;
    }
    @media (max-width: 767.98px) {
      right: -8%;
    }
  }

  // Dots
  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slick-dots li {
    list-style: none;
    margin: 0 10px;
  }
  // Dot's element
  .slick-dots li button {
    font-size: 0;
    width: 8px;
    height: 8px;
    background-color: #d1d6e3;
    border-radius: 50%;
  }
  // Active dot
  .slick-dots li.slick-active button {
    background-color: #5283ff;
  }
}
// /Slider
